#ide-image {
  width: 100vw;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
}

@include breakpoint("mobile") {
  #about-me > .row {
    justify-content: space-between;
  }
}

@include breakpoint(450px) {
  #about-me > .row {
    & > div:not(.ide-div) {
      width: 70%;
    }

    #ide-div {
      width: 30%;
      flex: 0 !important;
    }
  }
}