html {
  overflow-x: hidden;
  overflow-y: overlay;

  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $white
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: darken($white, 10);
  }

  * {
    font-family: "Gotham";
  }
}

a{
  text-decoration: none;
  color: $secondary_color;
  transition: .3s;

  &:hover{
    color: darken($secondary_color, 30);
  }
}

#contact-info {
  display: flex;
  flex-direction: column;

  & > div{
    display: flex;
    align-content: center;
    align-items: center;
    padding: 5px 0;
  }
}

#top-bar{
  display: flex;
  justify-content: space-between;

  .fas{
    font-size: 35px;
  }

  #menu-bar-button{
    cursor: pointer;
  }
}

#section-1-info-div {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  max-width: 450px;
  height: 300px;
  
  h1 {
    font-size: calc(3.5rem + 1.3vw);
    line-height: 0.9em;
    font-family: "Gotham Black";
  }

  p {
    font-size: 1.2em;
    line-height: 20px;
    font-weight: lighter;
  }
}

#self-image {
  width: 100%;
  border-radius: 10px;
  max-width: 400px;
  z-index: 1;
  transition: .6s;
}

#pattern-ball-1, #pattern-ball-2{
  width: 100px;
  height: 100px;
  position: absolute;
  transition: .6s;
}

#pattern-ball-1{
  top: 100px;
  left: -20px;
  z-index: 1;
}

#pattern-ball-2{
  width: 150px;
  height: 150px;
  bottom: -10px;
  right: 80px;
}

#self-div:hover{
  #pattern-ball-1{
    transform: translateY(-80px)
  }
  #pattern-ball-2{
    transform: translate(-100px, -20px)
  }
  #self-image{
    transform: translate(-20px, -20px)
  }
}