.section {
  width: 100%;
  background-color: $primary_color;
  color: #FFF;
  border-bottom: 1px solid #000;
  position: relative;
  height: 100vh;
  padding: 5vh 100px;
  
}

@include breakpoint('tablet') {
  .section{
    padding: 30px
  }
}
@include breakpoint('mobile') {
  .section{
    padding: 15px
  }
}