.section-description {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 300px;
  width: 100%;

  h1 {
    display: flex;
    align-items: baseline;
  }
  
  h1, h1 span {
    font-size: calc(2.5rem + 1.3vw);
    line-height: 0.9em;
    font-family: "Gotham Black";
  }

  p {
    font-size: 1.2em;
    line-height: 20px;
  }
}

@include breakpoint("tablet") {
  .section-description {
    h1 {
      font-size: 2.8rem
    }

    p {
      font-size: 1rem
    }
  }
}

@include breakpoint("mobile") {
  .section-description {
    justify-content: flex-start;
    height: auto;
  }
}