$primary_color: #0a192f;
$primary_color_dark: #000c1f;
$secondary_color: #64ffda;
$white: #FFF;

@font-face {
  font-family: "Gotham Black";
  src: url("../../public/assets/fonts/Gotham Black.otf");
}

@font-face {
  font-family: "Gotham";
  src: url("../../public/assets/fonts/GothamLight.ttf");
}